@font-face {
  font-family: main-bold;
  src: url("/Fonts/Metropolis-Bold.woff2");
}
@font-face {
  font-family: main-mid;
  src: url("/Fonts/Metropolis-Medium.woff2");
}
@font-face {
  font-family: main-light;
  src: url("/Fonts/Metropolis-Extralight.woff2");
}
@font-face {
  font-family: running-text;
  src: url("/Fonts/BAHNSCHRIFT.TTF");
}

:root {
  --accent: #f5cb5c;
  --off-black: #242423;
  --dark-text: #b8b6b6;
  --off-white: #e8eddf;
  --background: #333533;

  --shadow: rgba(0, 0, 0, 0.3);
}

/*---------------------------------- Generic Roles ------------------------------------*/
.has-shadow {
  filter: drop-shadow(-3px 3px 3px var(--shadow));
}

/*---------------------------------- Main Containers ----------------------------------*/
body {
  font-family: "Albert sans", main-mid, sans-serif;
  color: var(--off-white);
  background-color: var(--background);
  margin: 0px;
}
main {
  margin-left: 12vw;
  margin-top: 6vw;
}

/*---------------------------------- Text Classes -------------------------------------*/
h1 {
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 5.5em;

  margin-top: 20px;
  margin-bottom: 70px;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;

  color: var(--dark-text);
}

/*---------------------------------- Navbar -------------------------------------------*/
.navbar-container{
  width: 100vw;
  background-color: var(--off-black);
}
.navbar{
  height: 50px;
  padding-left: 10vw;
  padding-right: 10vw;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  align-content: center;
}
.navbar-item{
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--dark-text);
}
.navbar-head-container{
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: var(--off-black);

  display: flex;
  justify-self: center;

  position: relative;
  top: 10px;
}
.navbar-head{
  position: relative;
  width: auto;
  right: 1px;
}


/*---------------------------------- Landing Page Classes -----------------------------*/
.landing-page-grid{
  display: grid;
  grid-template-columns: auto auto;
}
.landing-page-info{
  margin-top: 6vw;
}
.contact-or-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
.contact-button {
  width: fit-content;
  padding: 40px;
  padding-top: 18px;
  padding-bottom: 20px;

  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: var(--accent);

  font-size: 1.5em;
  font-weight: 400;
  /* font-family: main-light; */
  color: var(--accent);
}
.scroll-request-text {
  font-family: running-text;
  font-weight: 100;
  font-size: 1em;
  color: var(--dark-text);

  margin-top: 1vh;
}
.portrait{
  width: 15vw;
}
