<body>
  <header>
    <div class="navbar-container">
      <div class="navbar">
        <a href="./index" class="navbar-item">Home</a>
        <a href="./works" class="navbar-item">Works</a>
        <div class="navbar-head-container">
          <img src="../Images/Kim_Cat_Small.png" alt="" class="navbar-head" />
        </div>
        <a href="./blog" class="current-page navbar-item">Blog</a>
        <a href="./qna" class="navbar-item">QnA</a>
      </div>
    </div>
  </header>
</body>