<main>
    <div class="create-post-container">
        <div class="post-container">
            <form action="/blog/create" method="post">
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input
                        class="form-input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        value="{{title}}"
                    />
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <textarea
                        class="form-input"
                        type="text"
                        name="description"
                        placeholder="Description"
                        rows="5"
                    >{{description}}</textarea>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
            <div class="errors-container">
                <h2>Error</h2>
                <ul class="errors-list">
                    {{#each errorMessages}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>