<main>
    <div class="create-post-container">
        <div class="post-container">
            <form action="/contact/create" method="post">
                <div class="form-group">
                    <label class="form-label">Question</label>
                    <input
                        class="form-input"
                        type="text"
                        name="question"
                        placeholder="Question"
                        value="{{question}}"
                    />
                </div>
                <div class="form-group">
                    <label class="form-label">Answer</label>
                    <textarea
                        class="form-input"
                        type="text"
                        name="answer"
                        placeholder="Answer"
                    >{{answer}}</textarea>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
            <div class="errors-container">
                <h2>Error</h2>
                <ul class="errors-list">
                    {{#each errorMessages}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>