<main>
  <div class="contact-info-container">
    <h3>Send me a mail</h3>
    <h2>gustafssonfilip@hotmail.com</h2>
  </div>
  <div class="faq-container">
    <div class="go-to-create-button"><a
        href="/contact/create"
        class="btn btn-primary"
      >Create New Post</a>
    </div>
    {{#each entries}}
      <div class="faq-entry">
        <p class="faq-question">{{question}}</p>
        <p>{{answer}}</p>
      </div>
    {{/each}}
  </div>
</main>