<main>
  <div class="contact-info-container">
    <h3>Send me a mail</h3>
    <h2>gustafssonfilip@hotmail.com</h2>
  </div>
  <div class="faq-container">
    <h1>FAQ</h1>
    {{#if session.isLoggedIn}}
      <div class="go-to-create-button"><a
          href="/contact/create"
          class="btn btn-primary"
        >Create New Post</a>
      </div>
    {{/if}}
    {{#if entries.length}}
      {{#each entries}}
        <div class="faq-entry">
          <p class="faq-question">{{question}}</p>
          <p>{{answer}}</p>
          {{#if ../session.isLoggedIn}}
            <a href="/contact/edit/{{faqID}}" class="edit-button">Edit</a>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <h2>Oops, no FAQ entries to show</h2>
    {{/if}}
  </div>
</main>