<main>
  <div class="contact-info-container">
    <h3>Send me a mail</h3>
    <h2>gustafssonfilip@hotmail.com</h2>
  </div>
  <div class="faq-container">
    <div class="go-to-create-button"><a
        href="/contact/create"
        class="btn btn-primary"
      >Create New Post</a>
    </div>
    <div class="faq-entry">
      <p class="faq-question">Who even are you?</p>
      <p>My name is Filip Gustafsson and I am a developer and a designer. I
        studied at Jönköping University between the years of 2021 and 2024 and
        since then I have been living on the streets and eating concrete and
        expired spinach. Time is running out before I need to pay my nephew back
        for the antique boar heads I stole from him and I saw him yesterday
        talking with a sorcerer lady; please hire me so I can pay off my debts
        and avoid being turned into a mountain goat.</p>
    </div>
    {{#each entries}}
      <div class="faq-entry">
        <p class="faq-question">{{question}}</p>
        <p>{{answer}}</p>
      </div>
    {{/each}}
  </div>
</main>