<main>
  <div class="landing-page-grid">
    <div class="landing-page-info">
      <h2>The Ever Great<br />Designer &amp; Developer</h2>
      <h1 class="main-title has-shadow">Filip Gustafsson</h1>
      <div class="contact-or-scroll-container">
        <a href="/contact" class="clickable contact-button">Contact Me</a>
        <div class="scroll-request">
          <div class="scroll-request-text">or scroll for more info</div>
          <img class="scroll-request-icon" src="" alt="" />
        </div>
      </div>
    </div>
    <div class="portait-container">
      <img class="portrait" src="../images/Kim_Cat.png" alt="" />
    </div>
  </div>
</main>
<footer>
  {{#if session.isLoggedIn}}
    <h2>Welcome back, Filip!</h2>
    <form action="/logout" method="post">
      <input type="submit" value="Log out" class="btn btn-primary" />
    </form>
  {{else}}
    <h2>Are you me?</h2>
    <div class="login-container">
      <form action="/login" method="post">
        <div class="form-group">
          <label class="form-label">Username</label>
          <input
            class="form-input"
            type="text"
            placeholder="Username"
            name="username"
            value="{{username}}"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input
            class="form-input"
            type="password"
            placeholder="Password"
            name="password"
            value="{{password}}"
          />
        </div>
        <input type="submit" value="Log in" class="btn btn-primary" />
      </form>
    </div>
  {{/if}}
  {{#each errorMessages}}
    <li>
      {{this}}
    </li>
  {{/each}}
</footer>