<main>
  <div class="landing-page-grid">
    <div class="landing-page-info">
      <h2>The Ever Great<br />Designer n Developer</h2>
      <h1 class="has-shadow">Filip Gustafsson</h1>
      <div class="contact-or-scroll-container">
        <a href="./contact" class="clickable contact-button">Contact Me</a>
        <div class="scroll-request">
          <div class="scroll-request-text">or scroll for more info</div>
          <img class="scroll-request-icon" src="" alt="" />
        </div>
      </div>
    </div>
    <div class="portait-container">
      <img class="portrait" src="../Images/Kim_Cat.png" alt="" />
    </div>
  </div>
</main>
{{{body}}}
<footer>
  <h2>Are you me?</h2>
  <div class="login-container">
    <div class="form-group">
      <label class="form-label" for="input-example-1">Name</label>
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        placeholder="Name"
      />
    </div>
    <div class="form-group">
      <label class="form-label" for="input-example-1">Password</label>
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        placeholder="Password"
      />
    </div>
    <button class="btn btn-primary">Log in</button>
  </div>
</footer>