<body>
  <header>
    <div class="navbar-container">
      <div class="navbar">
        <a href="./index" class="navbar-item">Home</a>
        <a href="./works" class="current-page navbar-item">Works</a>
        <div class="navbar-head-container">
          <img
            src="../Images/Kim_Cat_Small.png"
            alt="a small head of Filip's mascot"
            class="navbar-head"
          />
        </div>
        <a href="./blog" class="navbar-item">Blog</a>
        <a href="./qna" class="navbar-item">QnA</a>
      </div>
    </div>
  </header>
  <main>
    <div class="works-grid">
      <div class="work-container has-shadow">
        <img
          src="../Images/work_skogskott.png"
          alt="image of a couple logos and label designs for gin bottles"
          class="work-thumbnail"
        />
        <div class="work-info-container">
          <h1 class="work-title">Skogskott</h1>
          <div class="work-tags-container">
            <p class="work-tags">Graphic Design</p>
            <p class="work-tags">Brand Identity</p>
          </div>
          <p class="work-info">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do smod tempor incididunt ut labore et dolore
            magna aliqua. Nisl purus in mollis nunc sed id semper
            risus.consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id
            semper risus.</p>
        </div>
      </div>
      <div class="work-container has-shadow">
        <img
          src="../Images/work_skogskott.png"
          alt="image of a couple logos and label designs for gin bottles"
          class="work-thumbnail"
        />
        <div class="work-info-container">
          <h1 class="work-title">Skogskott</h1>
          <div class="work-tags-container">
            <p class="work-tags">Graphic Design</p>
            <p class="work-tags">Brand Identity</p>
          </div>
          <p class="work-info">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do smod tempor incididunt ut labore et dolore
            magna aliqua. Nisl purus in mollis nunc sed id semper
            risus.consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id
            semper risus.</p>
        </div>
      </div>
      <div class="work-container has-shadow">
        <img
          src="../Images/work_skogskott.png"
          alt="image of a couple logos and label designs for gin bottles"
          class="work-thumbnail"
        />
        <div class="work-info-container">
          <h1 class="work-title">Skogskott</h1>
          <div class="work-tags-container">
            <p class="work-tags">Graphic Design</p>
            <p class="work-tags">Brand Identity</p>
          </div>
          <p class="work-info">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do smod tempor incididunt ut labore et dolore
            magna aliqua. Nisl purus in mollis nunc sed id semper
            risus.consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id
            semper risus.</p>
        </div>
      </div>
      <div class="work-container has-shadow">
        <img
          src="../Images/work_skogskott.png"
          alt="image of a couple logos and label designs for gin bottles"
          class="work-thumbnail"
        />
        <div class="work-info-container">
          <h1 class="work-title">Skogskott</h1>
          <div class="work-tags-container">
            <p class="work-tags">Graphic Design</p>
            <p class="work-tags">Brand Identity</p>
          </div>
          <p class="work-info">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do smod tempor incididunt ut labore et dolore
            magna aliqua. Nisl purus in mollis nunc sed id semper
            risus.consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id
            semper risus.</p>
        </div>
      </div>
    </div>
  </main>
</body>