:root {
  --accent: #f5cb5c;
  --off-black: #242423;
  --dark-text: #b8b6b6;
  --off-white: #e8eddf;
  --background: #333533;

  --shadow: rgba(0, 0, 0, 0.3);
}

/*---------------------------------- Generic Roles ------------------------------------*/
.has-shadow {
  filter: drop-shadow(-3px 3px 3px var(--shadow));
}
.clickable {
  cursor: pointer;
}

/*---------------------------------- Main Containers ----------------------------------*/
body {
  font-family: "Albert sans", main-mid, sans-serif;
  color: var(--off-white);
  background-color: var(--background);
  margin: 0px;
  cursor: default;
}
main {
  margin: 6vw;
  margin-left: 12vw;
}
footer {
  margin-left: 12vw;
  margin-top: 6vw;
}

/*---------------------------------- Text Classes -------------------------------------*/
h1 {
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 5.5em;

  margin-top: 20px;
  margin-bottom: 70px;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;

  color: var(--dark-text);
}
a {
  text-decoration: none;
  color: var(--accent);
}
a:hover {
  cursor: pointer;
  color: var(--accent);
}
p {
  margin-bottom: 1rem;
}

/*---------------------------------- Navbar -------------------------------------------*/
.navbar-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--off-black);
}
.navbar {
  height: 50px;

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: calc(8vw - 50px);
}
.navbar-item {
  height: 40px;
  line-height: 40px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--dark-text);

  position: relative;
  top: 5px;
}
.navbar-item:hover {
  color: var(--accent);
}
.current-page {
  background-color: var(--background);
  border-radius: 7px 7px 0px 0px;
}
.navbar-head-container {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: var(--off-black);

  display: flex;
  justify-self: center;
  position: relative;
  top: 10px;

  cursor: pointer;
}
.navbar-head {
  position: relative;
  width: auto;
  right: 1px;
}

/*---------------------------------- Landing Page Classes -----------------------------*/
.landing-page-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.landing-page-info {
  margin-top: 6vw;
}
.contact-or-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
.contact-button {
  width: fit-content;
  padding: 40px;
  padding-top: 18px;
  padding-bottom: 20px;

  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: var(--accent);

  font-size: 1.5em;
  font-weight: 400;
  /* font-family: main-light; */
  color: var(--accent);
}
.scroll-request-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--dark-text);

  margin-top: 1vh;
}
.portrait {
  width: 15vw;
}
.login-container {
  width: 400px;
}
.btn.btn-primary {
  margin-top: 10px;
  background: var(--background);
  border-color: var(--accent);
  color: var(--accent);
}
.btn.btn-primary:hover {
  background: var(--accent);
  border-color: var(--accent);
  color: var(--off-black);
}

/*---------------------------------- Works Display ----------------------------------*/
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 0px));
  grid-template-rows: repeat(auto-fill, minmax(400px, 0px));

  justify-content: center;
}
.work-container {
  position: relative;
  width: 700px;
  height: 337px;
}
.work-thumbnail {
  width: inherit;
}
.work-info-container {
  z-index: -1;
  height: 337px;
  padding-left: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  bottom: 337px;
  background-color: var(--background);
}
.work-title {
  font-weight: 600;
  font-size: 4em;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 35px;
}
.work-tags-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.work-tags {
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  font-weight: 500;

  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--off-white);
}
.work-info {
  padding-left: 3px;
  width: 500px;
}

/*---------------------------------- Contact Page -----------------------------------*/

.faq-container {
  margin-top: 20vh;
  width: 60vw;
}
.faq-question {
  font-size: 1.5em;
}

/*---------------------------------- Blog Page --------------------------------------*/

.blog-container {
  width: 60vw;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 70px;
}

/*---------------------------------- Animations -------------------------------------*/

.work-thumbnail:hover {
  opacity: 15%;
  filter: blur(5px);
  z-index: -2;
}
